// theme colors
$primary:#EF5A24;
$secondary: #9D1A69;
$light: #F5F5F5;

.btn-primary {
    @extend .btn-primary;
    &:hover {
        background-image: linear-gradient(to bottom, $primary, $secondary);
    }
}
.custom-form-input {
    @extend .text-center;
    @extend .shadow-sm;
    @extend .border-0;
    @extend .bg-light;
    @extend .rounded-pill;
}

.custom-submit-button {
    @extend .rounded-pill;
    @extend .px-5;
}