// theme color variants
$primary:#EF5A24;
$secondary: #9D1A69;
$light: #F5F5F5;
$warning: orange;
$font-size-base: .875rem; // 14px

// rounded for cards and dialogs
$border-radius: 1rem;

$btn-disabled-opacity: 1;
//nav links
.nav-link {
    @extend .text-body;
}

// sidebar nav links 
.nav-pills {  
    .nav-link.active,
    .show > .nav-link {
        @extend .rounded;
        @extend .bg-secondary;
        @extend .text-white;
  }
}

// primary button gradient hover
.btn-primary {
    &:hover {
        background-image: linear-gradient(to bottom, $primary, $secondary);
    }
}

// dialog phone form input (sign-in and sign-up dialogs
.custom-dialog-input-phone-prepend {
    @extend .shadow-sm;
    @extend .rounded-left;
}

.custom-dialog-input-phone {
    @extend .pl-4;
    @extend .pl-sm-5;
    @extend .pl-md-3;
    @extend .pl-lg-2;
    @extend .shadow-sm;
    @extend .border-0;
    @extend .bg-light;
    @extend .rounded-right;
}

// other dialog form inputs (sign-in and sign-up dialogs)
.custom-dialog-input {
    @extend .text-center;
    @extend .shadow-sm;
    @extend .border-0;
    @extend .bg-light;
    @extend .rounded;
}

// full page form input (nominate page)
.custom-input {
    @extend .border-top-0;
    @extend .border-left-0;
    @extend .border-right-0;
    @extend .rounded-0;
}

// submit/cancel/ok buttons
.custom-submit-button {
    @extend .rounded-pill;
    @extend .px-5;
}

// for pages in logged-in-structure
.custom-container {
    @extend .mw-100;
    @extend .my-3;
    @extend .px-lg-2;
    @extend .px-xl-5;
}

